<p class="pageHeader">All Customers</p>

<form action="/customers" method="post">


    <label for="customerName"> Name:</label>
    <input class="inputbox" type="text" name="customerName" required="true" id="customerName">



    <input type="submit" value="Save" class="button">


</form>