

/*  ====================================GLOBAL: */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}
/*  ====================================tables: */

table {
  border-collapse: collapse;
  margin: 10px;
  table-layout: fixed;
}

tr {
  text-align: left;
  word-wrap:break-word;
}

td, th {
  text-align: left;
  margin: 10px;

}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid papayawhip;
  word-wrap:break-word;
}


.main_container {
    margin: auto;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.block_center{
margin: auto;
display: block;
}
/*  ====================================LANDING: */


.customersSignIn,
.farmersSignIn {
  flex: 1;
  display: flex;
  align-items: center;
}

.signInOn{
  font-size: 2rem;
  color: #fff;
  margin: auto;
}

.customersSignIn{
    background-image: url("/img/ja-ma-216495-unsplash.jpg");
    background-size: cover;
}


.farmersSignIn{
    background-image: url("/img/farmSignInOnlinh-nguyen-166-unsplash.jpg");
    background-size: cover;
}

.btn_landing{
  border: 0px none;
  border-radius: 8px;
  padding: 14px 40px;;
  color: white;
  cursor:pointer;
  background-color: #0D2557;
  font-size: 25px;
  text-decoration: none;
  height: 60px;
}

.btn_landing a:hover,
.btn_landing a:visited,
.btn_landing a:active {
    color: white;

}
/*  ====================================SHOP: */

main_shop_body{
    margin: auto;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.top_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.top_bar p {
    display: inline;
    margin-left: 1em;
    margin-right: 2em;
}
.shopImage,
.mainShop {
    flex:2
}
 .top_bar {
    flex: 1;
}

.main_shop {
    margin-left: 5em;
}

.shop_image{
    height: 25%;
    background-image: url("/img/Ricardo.jpg");
    background-size: contain;
}