<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>globalLocal Shop</title>
</head>
<body>
<nav>
    <a href="/shop">shop</a>
    <a href="/customers">customers</a>
    <a href="/farms">farms</a>
    <a href="/products">products</a>
</nav>

<div class="container">#parse($template)</div>


</body>
</html>